---
const { heroText, heroDescription } = Astro.props;
---

<div
  class="h-screen bg-pink-100 flex flex-col items-center justify-center"
>
  <h1 class="text-3xl mb-8w">{heroText}</h1>
  <p>{heroDescription}</p>
</div>
